.horizontal-list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  flex-basis: 24%;
  margin: 1px;
  border: 1px solid transparent;
  transition: border-color 0.3s;
  border-radius: 8px;

  &:hover {
    border-color: black;
  }
}
